In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('AviationData.csv',encoding='latin-1', low_memory=False)

In [3]:
df

,Investigation_Type,Latitude,Longitude,Injury_Severity,Aircraft_damage,Aircraft_Category,Make,Model,Amateur_Built,Number_of_Engines,Engine_Type,Purpose_of_flight,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight
0,Accident,NaN,NaN,Non-Fatal,Substantial,NaN,Cessna,550,No,2.0,Turbo Fan,Positioning,0.0,0.0,0.0,3.0,VMC,Cruise
1,Accident,NaN,NaN,Fatal(2),Destroyed,NaN,Bellanca,BL-17-30A,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise
2,Accident,NaN,NaN,Non-Fatal,Substantial,NaN,Cessna,172G,No,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,VMC,Cruise
3,Accident,NaN,NaN,Non-Fatal,Substantial,NaN,Cessna,172A,No,1.0,Reciprocating,Instructional,0.0,0.0,1.0,0.0,VMC,Cruise
4,Accident,NaN,NaN,Non-Fatal,Substantial,NaN,Piper,PA-46-310P,No,1.0,Turbo Prop,Personal,0.0,0.0,0.0,5.0,VMC,Cruise
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41209,Accident,NaN,NaN,Minor,NaN,NaN,PIPER,PA-28-151,No,NaN,NaN,Personal,0.0,1.0,0.0,0.0,NaN,NaN
41210,Accident,NaN,NaN,NaN,NaN,NaN,BELLANCA,7ECA,No,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN
41211,Accident,341525N,1112021W,Non-Fatal,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,NaN,Personal,0.0,0.0,0.0,1.0,VMC,NaN
41212,Accident,NaN,NaN,NaN,NaN,NaN,CESSNA,210N,No,NaN,NaN,Personal,0.0,0.0,0.0,0.0,NaN,NaN
41213,Accident,NaN,NaN,Minor,NaN,NaN,PIPER,PA-24-260,No,NaN,NaN,Personal,0.0,1.0,0.0,1.0,NaN,NaN

In [4]:
df.shape

(41214, 18)

In [5]:
df.isnull().sum()

Investigation_Type            0
Latitude                   6855
Longitude                  6864
Injury_Severity            1000
Aircraft_damage            2068
Aircraft_Category         12808
Make                         55
Model                        68
Amateur_Built               100
Number_of_Engines          4947
Engine_Type                7060
Purpose_of_flight          6092
Total_Fatal_Injuries      11083
Total_Serious_Injuries    12094
Total_Minor_Injuries      11513
Total_Uninjured            5640
Weather_Condition          4467
Broad_phase_of_flight     26261
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [7]:
df['Investigation_Type']=label_encoder.fit_transform(df['Investigation_Type'])

In [8]:
df

,Investigation_Type,Latitude,Longitude,Injury_Severity,Aircraft_damage,Aircraft_Category,Make,Model,Amateur_Built,Number_of_Engines,Engine_Type,Purpose_of_flight,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight
0,0,NaN,NaN,Non-Fatal,Substantial,NaN,Cessna,550,No,2.0,Turbo Fan,Positioning,0.0,0.0,0.0,3.0,VMC,Cruise
1,0,NaN,NaN,Fatal(2),Destroyed,NaN,Bellanca,BL-17-30A,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise
2,0,NaN,NaN,Non-Fatal,Substantial,NaN,Cessna,172G,No,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,VMC,Cruise
3,0,NaN,NaN,Non-Fatal,Substantial,NaN,Cessna,172A,No,1.0,Reciprocating,Instructional,0.0,0.0,1.0,0.0,VMC,Cruise
4,0,NaN,NaN,Non-Fatal,Substantial,NaN,Piper,PA-46-310P,No,1.0,Turbo Prop,Personal,0.0,0.0,0.0,5.0,VMC,Cruise
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41209,0,NaN,NaN,Minor,NaN,NaN,PIPER,PA-28-151,No,NaN,NaN,Personal,0.0,1.0,0.0,0.0,NaN,NaN
41210,0,NaN,NaN,NaN,NaN,NaN,BELLANCA,7ECA,No,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN
41211,0,341525N,1112021W,Non-Fatal,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,NaN,Personal,0.0,0.0,0.0,1.0,VMC,NaN
41212,0,NaN,NaN,NaN,NaN,NaN,CESSNA,210N,No,NaN,NaN,Personal,0.0,0.0,0.0,0.0,NaN,NaN
41213,0,NaN,NaN,Minor,NaN,NaN,PIPER,PA-24-260,No,NaN,NaN,Personal,0.0,1.0,0.0,1.0,NaN,NaN

In [9]:
#air_category = pd.get_dummies(x['Aircraft Category'],drop_first=True)

In [10]:
#Investigation_Type = pd.get_dummies(df["Investigation.Type"])

In [11]:
#df = pd.concat([df,Investigation_Type],axis=1)

In [12]:
#df =df.drop(['Investigation.Type'], axis=1)

In [13]:
#df

In [14]:
#Investigation_Type

In [15]:
#df= df.dropna()

In [16]:
df=df.drop('Injury_Severity',axis=1)
#df=df.drop('Aircraft_damage',axis=1)
df=df.drop('Purpose_of_flight',axis=1)
df=df.drop('Total_Fatal_Injuries',axis=1)
#df=df.drop('Total_Serious_Injuries',axis=1)
#df=df.drop('Total_Minor_Injuries',axis=1)
#df=df.drop('Total_Uninjured',axis=1)
df=df.drop('Broad_phase_of_flight',axis=1)
df=df.drop('Latitude',axis=1)
df=df.drop('Longitude',axis=1)

In [17]:
#y.value_counts()

In [18]:
df

,Investigation_Type,Aircraft_damage,Aircraft_Category,Make,Model,Amateur_Built,Number_of_Engines,Engine_Type,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition
0,0,Substantial,NaN,Cessna,550,No,2.0,Turbo Fan,0.0,0.0,3.0,VMC
1,0,Destroyed,NaN,Bellanca,BL-17-30A,No,1.0,Reciprocating,0.0,0.0,0.0,IMC
2,0,Substantial,NaN,Cessna,172G,No,1.0,Reciprocating,0.0,0.0,2.0,VMC
3,0,Substantial,NaN,Cessna,172A,No,1.0,Reciprocating,0.0,1.0,0.0,VMC
4,0,Substantial,NaN,Piper,PA-46-310P,No,1.0,Turbo Prop,0.0,0.0,5.0,VMC
...,...,...,...,...,...,...,...,...,...,...,...,...
41209,0,NaN,NaN,PIPER,PA-28-151,No,NaN,NaN,1.0,0.0,0.0,NaN
41210,0,NaN,NaN,BELLANCA,7ECA,No,NaN,NaN,0.0,0.0,0.0,NaN
41211,0,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,NaN,0.0,0.0,1.0,VMC
41212,0,NaN,NaN,CESSNA,210N,No,NaN,NaN,0.0,0.0,0.0,NaN
41213,0,NaN,NaN,PIPER,PA-24-260,No,NaN,NaN,1.0,0.0,1.0,NaN

count_class_0, count_class_1 = df.Investigation_Type.value_counts()

In [19]:
count_class_0, count_class_1 = df.Investigation_Type.value_counts()

In [20]:
df_class_0 = df[df['Investigation_Type']==0]
df_class_1 = df[df['Investigation_Type']==1]

In [21]:
df_class_0.shape

(38916, 12)

In [22]:
df_class_0.isnull().sum()

Investigation_Type            0
Aircraft_damage             884
Aircraft_Category         12090
Make                         28
Model                        36
Amateur_Built                56
Number_of_Engines          3844
Engine_Type                5828
Total_Serious_Injuries    11526
Total_Minor_Injuries      10966
Total_Uninjured            5526
Weather_Condition          3113
dtype: int64

In [23]:
df_class_0 = df_class_0.dropna()

In [24]:
df_class_0.shape

(17534, 12)

In [25]:
#df_class_1 = df_class_1.dropna()

In [26]:
df_class_1.shape

(2298, 12)

In [27]:
df_class_1.isnull().sum()

Investigation_Type           0
Aircraft_damage           1184
Aircraft_Category          718
Make                        27
Model                       32
Amateur_Built               44
Number_of_Engines         1103
Engine_Type               1232
Total_Serious_Injuries     568
Total_Minor_Injuries       547
Total_Uninjured            114
Weather_Condition         1354
dtype: int64

In [28]:
df_class_1 = df_class_1.sample(count_class_0, replace =True)

In [29]:
df_class_1.shape

(38916, 12)

In [30]:
#df_class_1 = df_class_1.dropna()

In [31]:
df_class_1.shape

(38916, 12)

In [32]:
df_over

NameError: name 'df_over' is not defined

In [ ]:
df_class_1.isnull().sum()

In [ ]:
# x = df.drop(['Investigation_Type'], axis=1)
# y = df['Investigation_Type']
# #X_train =x

In [ ]:
# from imblearn.combine import SMOTEENN

In [ ]:
# smote = SMOTEENN()
# x_sm, y_sm=smote.fit_resample(x,y)

In [ ]:
#df_class_1.fillna(df.mean(), inplace=True)

In [ ]:
df_class_1.isnull().sum()

In [ ]:
df_class_0_under=df_class_0.sample(count_class_1)

In [ ]:
df =pd.concat([df_class_0, df_class_1], axis=0)

In [ ]:
df.Investigation_Type.value_counts()

In [ ]:
df

In [ ]:
#df =df.fillna(value==df['Number_of_Engines'].mean())

In [ ]:
df

In [ ]:
#df['Investigation_Type']=label_encoder.fit_transform(df['Investigation_Type'])

In [ ]:
df1 = df['Amateur_Built'].dropna()

In [ ]:
x = df.drop(['Investigation_Type'], axis=1)

In [ ]:
#y = df['Investigation_Type']

In [ ]:
df.isnull().sum()

In [ ]:
x.info()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size =0.2, random_state =5)

In [ ]:
from sklearn.impute import KNNImputer

In [ ]:
knn = KNNImputer()

In [ ]:
x.isnull().sum()

In [ ]:
df

In [ ]:
count_class_0, count_class_1 = df.Investigation_Type.value_counts()

In [ ]:
df_claass_0 = df[df['Investigation_Type']==0]
df_claass_1 = df[df['Investigation_Type']==1]

In [ ]:
df_claass_0.shape

In [ ]:
df_claass_1.shape

In [ ]:
#y= pd.concat([y,Investigation_Type],axis=1)

In [ ]:
#y=y.drop('Investigation.Type',axis=1)

In [ ]:
# air_category = pd.get_dummies(x['Aircraft Category'],drop_first=True)

In [ ]:
# air_category

In [ ]:
#y

In [ ]:
# x=x.drop('Event Id',axis=1)

In [ ]:
# x=x.drop('Accident Number',axis=1)
# x=x.drop('Event Date',axis=1)
# x=x.drop('Location',axis=1)
# x=x.drop('Country',axis=1)
# x=x.drop('Airport Code',axis=1)
# x=x.drop('Airport Name',axis=1)
# x=x.drop('Aircraft Damage',axis=1)
# x=x.drop('FAR Description',axis=1)

In [ ]:
#x

In [ ]:
#x

In [ ]:
# x = x.drop('Aircraft Category',axis=1)

In [ ]:
# x= pd.concat([x,air_category],axis=1)

In [ ]:
# x

In [ ]:
# make = pd.get_dummies(x['Make'],drop_first=True)
# x = x.drop('Make',axis=1)
# x= pd.concat([x,make],axis=1)

In [ ]:
#x

In [ ]:
#df.isnull().sum()

In [ ]:
#from imblearn.under_sampling import NearMiss

In [ ]:
#nm = NearMiss()

In [ ]:
#x_nm, y_nm = nm.fit_resample(x, y)