In [32]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [33]:
df = pd.read_csv("AviationData.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc4 in position 128878: invalid continuation byte

In [5]:
# df

,Event Id,Investigation Type,Accident Number,Event Date,Location,Country,Latitude,Longitude,Airport Code,Airport Name,...,Aircraft Category,Make,Amateur Built,Number of Engines,Engine Type,FAR Description,Purpose of Flight,Weather Condition,Broad Phase of Flight,Unnamed: 20
0,20080125X00106,Accident,SEA08CA056,12/31/2007,"Santa Ana, CA",United States,33.675556,-117.868056,SNA,John Wayne - Orange County,...,Airplane,Piper,No,1.0,Reciprocating,Part 91: General Aviation,Instructional,VMC,LANDING,
1,20080206X00141,Accident,CHI08WA075,12/31/2007,"Guernsey, United Kingdom",United Kingdom,49.435000,-2.600278,NaN,NaN,...,NaN,Cessna,No,NaN,NaN,NaN,Unknown,NaN,NaN,
2,20080129X00122,Accident,CHI08CA057,12/30/2007,"Alexandria, MN",United States,45.866111,-95.394444,AXN,Chandler Field Airport,...,Airplane,Lerohl,Yes,1.0,Reciprocating,Part 91: General Aviation,Personal,VMC,TAKEOFF,
3,20080114X00045,Accident,LAX08FA043,12/30/2007,"Paso Robles, CA",United States,35.542222,-120.522778,PRB,Paso Robles Airport,...,Airplane,Cirrus Design Corp.,No,1.0,Reciprocating,Part 91: General Aviation,Personal,VMC,MANEUVERING,
4,20080109X00032,Accident,NYC08FA071,12/30/2007,"Cherokee, AL",United States,34.688611,-87.920000,NaN,NaN,...,Helicopter,BELL,No,1.0,Turbo Shaft,Part 91: General Aviation,Other Work Use,VMC,MANEUVERING,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16233,20001212X20344,Accident,DEN00FA037,01/02/2000,"TELLURIDE, CO",United States,NaN,NaN,NaN,NaN,...,NaN,Cessna,No,2.0,Reciprocating,NaN,Personal,IMC,CLIMB,
16234,20001212X20342,Incident,DCA00WA018,01/02/2000,"AMSTERDAM, Netherlands",Netherlands,NaN,NaN,NaN,NaN,...,Airplane,Boeing,No,NaN,Unknown,Part 129: Foreign,Unknown,UNK,NaN,
16235,20001212X20364,Accident,FTW00LA067,01/02/2000,"CORNING, AR",United States,NaN,NaN,NaN,NaN,...,NaN,Piper,No,1.0,Turbo Prop,NaN,Personal,VMC,CRUISE,
16236,20001212X20407,Accident,MIA00LA063,01/01/2000,"HOMESTEAD, FL",United States,NaN,NaN,NaN,NaN,...,NaN,Cessna,No,2.0,Turbo Fan,NaN,Positioning,VMC,CRUISE,
16237,20001212X20327,Accident,ATL00FA019,01/01/2000,"MONTEAGLE, TN",United States,NaN,NaN,NaN,NaN,...,NaN,Bellanca,No,1.0,Reciprocating,NaN,Personal,IMC,CRUISE,

In [6]:
# df.shape

(16238, 21)

In [7]:
# df.isnull().sum()

Event Id                     0
Investigation Type           0
Accident Number              0
Event Date                   0
Location                    16
Country                     40
Latitude                  4287
Longitude                 4297
Airport Code              6584
Airport Name              6267
Aircraft Damage            519
Aircraft Category        12366
Make                        13
Amateur Built              100
Number of Engines         1411
Engine Type               1435
FAR Description          12360
Purpose of Flight         1619
Weather Condition          483
Broad Phase of Flight     1285
Unnamed: 20                  0
dtype: int64

In [8]:
# x = df.drop(['Investigation Type'], axis=1)

In [9]:
# y = df['Investigation Type']

In [10]:
# air_category = pd.get_dummies(x['Aircraft Category'],drop_first=True)

In [11]:
# air_category

,Balloon,Blimp,Glider,Gyrocraft,Helicopter,Powered-Lift,Ultralight
0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...
16233,0,0,0,0,0,0,0
16234,0,0,0,0,0,0,0
16235,0,0,0,0,0,0,0
16236,0,0,0,0,0,0,0
16237,0,0,0,0,0,0,0

In [12]:
#y

In [13]:
# x=x.drop('Event Id',axis=1)

In [14]:
# x=x.drop('Accident Number',axis=1)
# x=x.drop('Event Date',axis=1)
# x=x.drop('Location',axis=1)
# x=x.drop('Country',axis=1)
# x=x.drop('Airport Code',axis=1)
# x=x.drop('Airport Name',axis=1)
# x=x.drop('Aircraft Damage',axis=1)
# x=x.drop('FAR Description',axis=1)

In [15]:
#x

In [16]:
#x

In [17]:
# x = x.drop('Aircraft Category',axis=1)

In [18]:
# x= pd.concat([x,air_category],axis=1)

In [19]:
# x

,Latitude,Longitude,Make,Amateur Built,Number of Engines,Engine Type,Purpose of Flight,Weather Condition,Broad Phase of Flight,Unnamed: 20,Balloon,Blimp,Glider,Gyrocraft,Helicopter,Powered-Lift,Ultralight
0,33.675556,-117.868056,Piper,No,1.0,Reciprocating,Instructional,VMC,LANDING,,0,0,0,0,0,0,0
1,49.435000,-2.600278,Cessna,No,NaN,NaN,Unknown,NaN,NaN,,0,0,0,0,0,0,0
2,45.866111,-95.394444,Lerohl,Yes,1.0,Reciprocating,Personal,VMC,TAKEOFF,,0,0,0,0,0,0,0
3,35.542222,-120.522778,Cirrus Design Corp.,No,1.0,Reciprocating,Personal,VMC,MANEUVERING,,0,0,0,0,0,0,0
4,34.688611,-87.920000,BELL,No,1.0,Turbo Shaft,Other Work Use,VMC,MANEUVERING,,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16233,NaN,NaN,Cessna,No,2.0,Reciprocating,Personal,IMC,CLIMB,,0,0,0,0,0,0,0
16234,NaN,NaN,Boeing,No,NaN,Unknown,Unknown,UNK,NaN,,0,0,0,0,0,0,0
16235,NaN,NaN,Piper,No,1.0,Turbo Prop,Personal,VMC,CRUISE,,0,0,0,0,0,0,0
16236,NaN,NaN,Cessna,No,2.0,Turbo Fan,Positioning,VMC,CRUISE,,0,0,0,0,0,0,0
16237,NaN,NaN,Bellanca,No,1.0,Reciprocating,Personal,IMC,CRUISE,,0,0,0,0,0,0,0

In [20]:
# make = pd.get_dummies(x['Make'],drop_first=True)
# x = x.drop('Make',axis=1)
# x= pd.concat([x,make],axis=1)

In [21]:
#x

,Latitude,Longitude,Amateur Built,Number of Engines,Engine Type,Purpose of Flight,Weather Condition,Broad Phase of Flight,Unnamed: 20,Balloon,...,Zivko,Zivko Aeronautics Inc.,Zlin Aviation s.r.o.,Zorn,de HAVILLAND,de Havilland,deHAVILLAND,deHavilland,unknown,1200
0,33.675556,-117.868056,No,1.0,Reciprocating,Instructional,VMC,LANDING,,0,...,0,0,0,0,0,0,0,0,0,0
1,49.435000,-2.600278,No,NaN,NaN,Unknown,NaN,NaN,,0,...,0,0,0,0,0,0,0,0,0,0
2,45.866111,-95.394444,Yes,1.0,Reciprocating,Personal,VMC,TAKEOFF,,0,...,0,0,0,0,0,0,0,0,0,0
3,35.542222,-120.522778,No,1.0,Reciprocating,Personal,VMC,MANEUVERING,,0,...,0,0,0,0,0,0,0,0,0,0
4,34.688611,-87.920000,No,1.0,Turbo Shaft,Other Work Use,VMC,MANEUVERING,,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16233,NaN,NaN,No,2.0,Reciprocating,Personal,IMC,CLIMB,,0,...,0,0,0,0,0,0,0,0,0,0
16234,NaN,NaN,No,NaN,Unknown,Unknown,UNK,NaN,,0,...,0,0,0,0,0,0,0,0,0,0
16235,NaN,NaN,No,1.0,Turbo Prop,Personal,VMC,CRUISE,,0,...,0,0,0,0,0,0,0,0,0,0
16236,NaN,NaN,No,2.0,Turbo Fan,Positioning,VMC,CRUISE,,0,...,0,0,0,0,0,0,0,0,0,0
16237,NaN,NaN,No,1.0,Reciprocating,Personal,IMC,CRUISE,,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
#df.isnull().sum()

Event Id                     0
Investigation Type           0
Accident Number              0
Event Date                   0
Location                    16
Country                     40
Latitude                  4287
Longitude                 4297
Airport Code              6584
Airport Name              6267
Aircraft Damage            519
Aircraft Category        12366
Make                        13
Amateur Built              100
Number of Engines         1411
Engine Type               1435
FAR Description          12360
Purpose of Flight         1619
Weather Condition          483
Broad Phase of Flight     1285
Unnamed: 20                  0
dtype: int64